tfdemo2.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>6a380232-0161-1000-e007-1982c7563bdb</groupId>
  <name>tfdemo2</name>
  <snippet>
    <connections>
      <id>b7821a61-eb56-3c62-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>3a1943e6-4a12-39a3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>48f4990e-1fe5-3ef9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ef919dc2-6972-3471-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>aaab8aed-04a4-3271-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>da5d94f2-3df2-3aaf-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>021366cc-ec0d-3fee-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>2deffeb2-880f-3ffa-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>attachments</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>e3f854ad-feaa-36c8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0669425c-f963-3f3b-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>ba9be6a3-a185-3219-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>da5d94f2-3df2-3aaf-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3ada8a5c-41c5-32fe-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>c8b2b123-7e29-3007-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>ba9be6a3-a185-3219-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5891c46c-20dd-3645-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>da5d94f2-3df2-3aaf-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>2deffeb2-880f-3ffa-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>73651512-3e95-39d6-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>e3f854ad-feaa-36c8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>3a1943e6-4a12-39a3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7d76d978-8706-3ade-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>047380bd-1a2b-3e1b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>attachments</selectedRelationships>
      <source>
        <groupId>d221f677-9fca-354c-0000-000000000000</groupId>
        <id>e3f854ad-feaa-36c8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>d0e50df3-b1f1-3b5f-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://localhost:3306/superset</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/usr/share/java/mysql-connector-java.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>superset</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <labels>
      <id>865537c9-80e8-3b54-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>1138.8094482421875</height>
      <style></style>
      <width>2380.616943359375</width>
    </labels>
    <processors>
      <id>aaab8aed-04a4-3271-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>1091.8719627072333</x>
        <y>614.0901548879881</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>SMTP Hostname</key>
            <value>
              <name>SMTP Hostname</name>
            </value>
          </entry>
          <entry>
            <key>SMTP Port</key>
            <value>
              <name>SMTP Port</name>
            </value>
          </entry>
          <entry>
            <key>SMTP Username</key>
            <value>
              <name>SMTP Username</name>
            </value>
          </entry>
          <entry>
            <key>SMTP Password</key>
            <value>
              <name>SMTP Password</name>
            </value>
          </entry>
          <entry>
            <key>SMTP Auth</key>
            <value>
              <name>SMTP Auth</name>
            </value>
          </entry>
          <entry>
            <key>SMTP TLS</key>
            <value>
              <name>SMTP TLS</name>
            </value>
          </entry>
          <entry>
            <key>SMTP Socket Factory</key>
            <value>
              <name>SMTP Socket Factory</name>
            </value>
          </entry>
          <entry>
            <key>SMTP X-Mailer Header</key>
            <value>
              <name>SMTP X-Mailer Header</name>
            </value>
          </entry>
          <entry>
            <key>Content Type</key>
            <value>
              <name>Content Type</name>
            </value>
          </entry>
          <entry>
            <key>From</key>
            <value>
              <name>From</name>
            </value>
          </entry>
          <entry>
            <key>To</key>
            <value>
              <name>To</name>
            </value>
          </entry>
          <entry>
            <key>CC</key>
            <value>
              <name>CC</name>
            </value>
          </entry>
          <entry>
            <key>BCC</key>
            <value>
              <name>BCC</name>
            </value>
          </entry>
          <entry>
            <key>Subject</key>
            <value>
              <name>Subject</name>
            </value>
          </entry>
          <entry>
            <key>Message</key>
            <value>
              <name>Message</name>
            </value>
          </entry>
          <entry>
            <key>Attach File</key>
            <value>
              <name>Attach File</name>
            </value>
          </entry>
          <entry>
            <key>Include All Attributes In Message</key>
            <value>
              <name>Include All Attributes In Message</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>SMTP Hostname</key>
            <value>mail.gmx.net</value>
          </entry>
          <entry>
            <key>SMTP Port</key>
            <value>587</value>
          </entry>
          <entry>
            <key>SMTP Username</key>
            <value>demo.nifi.tf@gmx.de</value>
          </entry>
          <entry>
            <key>SMTP Password</key>
          </entry>
          <entry>
            <key>SMTP Auth</key>
            <value>true</value>
          </entry>
          <entry>
            <key>SMTP TLS</key>
            <value>true</value>
          </entry>
          <entry>
            <key>SMTP Socket Factory</key>
            <value>javax.net.ssl.SSLSocketFactory</value>
          </entry>
          <entry>
            <key>SMTP X-Mailer Header</key>
            <value>NiFi</value>
          </entry>
          <entry>
            <key>Content Type</key>
            <value>text/plain</value>
          </entry>
          <entry>
            <key>From</key>
            <value>demo.nifi.tf@gmx.de</value>
          </entry>
          <entry>
            <key>To</key>
            <value>${'email.headers.from.0':substringAfter('&lt;'):replaceAll('&gt;',''):trim()}</value>
          </entry>
          <entry>
            <key>CC</key>
          </entry>
          <entry>
            <key>BCC</key>
          </entry>
          <entry>
            <key>Subject</key>
            <value>${'email.headers.subject'}</value>
          </entry>
          <entry>
            <key>Message</key>
            <value>Dear ${'email.headers.from.0':substringBefore('&lt;')}, thanks that you engage in our demo. The image you send is a ${'tf.probabilities.0.label'} with a probabiality of ${'tf.probabilities.0.probability':multiply(100)} percent. Kind Regards Your Nifi Demo Team</value>
          </entry>
          <entry>
            <key>Attach File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include All Attributes In Message</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutEmail</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutEmail</type>
    </processors>
    <processors>
      <id>ba9be6a3-a185-3219-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>1762.3856520906675</x>
        <y>598.6859607852682</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments> sad</comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>
              <name>Statement Type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Catalog Name</key>
            <value>
              <name>Catalog Name</name>
            </value>
          </entry>
          <entry>
            <key>Schema Name</key>
            <value>
              <name>Schema Name</name>
            </value>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>
              <name>Translate Field Names</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>
              <name>Unmatched Field Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>
              <name>Unmatched Column Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Update Keys</key>
            <value>
              <name>Update Keys</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>
              <name>jts-quoted-identifiers</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>
              <name>jts-quoted-table-identifiers</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>d0e50df3-b1f1-3b5f-0000-000000000000</value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>tf_images</value>
          </entry>
          <entry>
            <key>Catalog Name</key>
          </entry>
          <entry>
            <key>Schema Name</key>
            <value>superset</value>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>Ignore Unmatched Fields</value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>Ignore Unmatched Columns</value>
          </entry>
          <entry>
            <key>Update Keys</key>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>true</value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertJSONToSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>sql</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
    </processors>
    <processors>
      <id>c8b2b123-7e29-3007-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>1860.6542481517029</x>
        <y>843.6593507411791</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>
              <name>Support Fragmented Transactions</name>
            </value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
            <value>
              <name>Transaction Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>
              <name>Obtain Generated Keys</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>d0e50df3-b1f1-3b5f-0000-000000000000</value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>false</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutSQL</type>
    </processors>
    <processors>
      <id>da5d94f2-3df2-3aaf-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>1607.043675559387</x>
        <y>292.3788012768997</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>e3f854ad-feaa-36c8-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>607.7851450091428</x>
        <y>293.4593953232994</y>
      </position>
      <bundle>
        <artifact>nifi-email-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors></descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties></properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractEmailAttachments</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>attachments</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.email.ExtractEmailAttachments</type>
    </processors>
    <processors>
      <id>047380bd-1a2b-3e1b-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>620.5323803409765</x>
        <y>590.6686248767779</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/home/nifi/tensorflow/input</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>2deffeb2-880f-3ffa-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>1081.643776797558</x>
        <y>283.50883594760876</y>
      </position>
      <bundle>
        <artifact>nifi-tensorflow-nar</artifact>
        <group>com.dataflowdeveloper</group>
        <version>2.1</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>modeldir</key>
            <value>
              <name>modeldir</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>modeldir</key>
            <value>/home/nifi/tensorflow/models/</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TensorFlowProcessor</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.dataflowdeveloper.processors.process.TensorFlowProcessor</type>
    </processors>
    <processors>
      <id>3a1943e6-4a12-39a3-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>28.147257302084427</x>
        <y>304.65662115792145</y>
      </position>
      <bundle>
        <artifact>nifi-email-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>CAPTURED_HEADERS</key>
            <value>
              <name>CAPTURED_HEADERS</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>CAPTURED_HEADERS</key>
            <value>x-mailer</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractEmailHeaders</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.email.ExtractEmailHeaders</type>
    </processors>
    <processors>
      <id>48f4990e-1fe5-3ef9-0000-000000000000</id>
      <parentGroupId>d221f677-9fca-354c-0000-000000000000</parentGroupId>
      <position>
        <x>32.36173599499239</x>
        <y>591.1890434676274</y>
      </position>
      <bundle>
        <artifact>nifi-email-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.2.0-76</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>host</key>
            <value>
              <name>host</name>
            </value>
          </entry>
          <entry>
            <key>port</key>
            <value>
              <name>port</name>
            </value>
          </entry>
          <entry>
            <key>user</key>
            <value>
              <name>user</name>
            </value>
          </entry>
          <entry>
            <key>password</key>
            <value>
              <name>password</name>
            </value>
          </entry>
          <entry>
            <key>folder</key>
            <value>
              <name>folder</name>
            </value>
          </entry>
          <entry>
            <key>fetch.size</key>
            <value>
              <name>fetch.size</name>
            </value>
          </entry>
          <entry>
            <key>delete.messages</key>
            <value>
              <name>delete.messages</name>
            </value>
          </entry>
          <entry>
            <key>connection.timeout</key>
            <value>
              <name>connection.timeout</name>
            </value>
          </entry>
          <entry>
            <key>Mark Messages as Read</key>
            <value>
              <name>Mark Messages as Read</name>
            </value>
          </entry>
          <entry>
            <key>Use SSL</key>
            <value>
              <name>Use SSL</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>host</key>
            <value>imap.gmx.com</value>
          </entry>
          <entry>
            <key>port</key>
            <value>993</value>
          </entry>
          <entry>
            <key>user</key>
            <value>demo.nifi.tf@gmx.de</value>
          </entry>
          <entry>
            <key>password</key>
          </entry>
          <entry>
            <key>folder</key>
            <value>INBOX</value>
          </entry>
          <entry>
            <key>fetch.size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>delete.messages</key>
            <value>false</value>
          </entry>
          <entry>
            <key>connection.timeout</key>
            <value>60 sec</value>
          </entry>
          <entry>
            <key>Mark Messages as Read</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Use SSL</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeIMAP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.email.ConsumeIMAP</type>
    </processors>
  </snippet>
  <timestamp>04/09/2018 17:44:50 CEST</timestamp>
</template>